
html, body {
  min-height: 100%;
  
  /* cursor: url("../components/cursors/Diamond Sword - Normal Select.cur"), auto; */
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=30264"), auto;
}

body {
  width: 100%;
  background: url("https://www.wallpapertip.com/wmimgs/2-27681_minecraft-wallpaper-4k-pc.jpg") top center no-repeat;
  background-size: 100% 100%;
  background-color: #fbfcff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #575859;
  font-weight: 400;
}
main {
  min-width: 100%;
  color: aqua;
}
body > .main {
  min-width: 100%;
  min-height: 100%;
  margin: 5px;
  background-color: antiquewhite;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}